.futer {
    background-color: rgb(34, 34, 34);
    width: 100%;
    color: white;
    padding-top: 50px;
}
 
.futer img{
    height: 80px;
    padding: 7px; 
}

.futer form {
    display: inline-block;
}

.inner {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.title {
    color: #999;
    text-align: left;
    margin: 20px 0;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.inp {
    min-height: 32px;
    border: none;
    text-align: center;
    background: #fcfcfc;
    border: 1px solid #e1e1e1;
    outline: none;
    line-height: normal;
    margin: 7px 0;
    width:245px;
}
 
.button {
    width: 250px;
    min-height: 32px;
    border: none;
    text-align: center;
    background: #888;
    outline: none;
    margin: 7px 0;
    font-size: 11px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
}
.button:hover {
    background: transparent;
    transition: 0.3s;
}
.recentNews {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 30px;
}

.recentNews_inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recentNews a {
    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
}

.recentNews a:hover {
    color: #be9656;
    transition: 0.6s;
}

.recentNews span {
    margin: 5px 0 15px;
    color: #999;
    opacity: 0.8;
    font-size: 12px;
    font-style: italic;
}

.inner hr {
    max-width: 70%;
    margin: 0 auto;
}

.futerBar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    border-top: 1px rgba(122, 122, 122, 0.376) solid;
    padding: 24px 70px;
    margin-top: 68px;
}

.futerBar a {
    text-decoration: none;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0;
    color: white;
    margin-left: 20px;
}

.copyright {
    color: #999;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0;
}


@media screen and (max-width: 991px) {
    .futer form {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .recentNews_inner {
        display: none;
    }
}

@media screen and (max-width: 519px) {
    .inner {
        display: table;
        justify-content: center;
    }
}

@media screen and (max-width: 470px) {
    .futerBar { 
        display: table;
        padding: 24px 0;
    }
    .futerBar a {
        margin-left: 6px;
    }
}