.content {  
    width: 30%;
    /* float: left; */  
    margin-right: 3%; 
    box-sizing: border-box; 
    margin-bottom: 60px;
    display: inline-table;  
    max-width: 394px;
}
.content img { 
    max-width: 100%; 
    height: auto !important;
    cursor: pointer;
}

.title {
    width: content;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    line-height: 1.7;
    font-family: Lustria, Georgia, serif;
    color: #222222;
    font-size: 18px;
    margin-top: 16px;
    cursor: pointer;
    max-width: 394px;
    word-wrap: break-word;
}

.title_inner {
    display: flex;
    justify-content: center;
}

.date {
    position: relative;
    color: #be9656;
    text-align: center;
}
.date span {
    background-color: white;
    padding: 0 10px;
    font-style: italic;
    font-size: 12px;
}

.date:after {
    position: absolute;
    content:"";
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    width: 50%;
    margin: 0 auto;
    border-top: 1px solid #be9656;
    z-index: -1;
}

.text {
    padding: 7px 0;
    text-align: left;
    color: #000;
    line-height: 1.7;
    font-size: 14px;
    max-width: 394px;
    word-wrap: break-word;
}

.content button {
    text-decoration: none;
    color: #be9656;
    line-height: 1.7;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.content button:hover {
    color: #222;
    transition: 1s;
}
  



@media screen and (max-width: 991px) {
    .content {
        width: 45%;
        max-width: 432px;
    }
}
@media screen and (max-width: 767px) {
    .title {
        font-size: 16px;
    }
    .text {
        font-size: 12px;
    }
}

@media screen and (max-width: 519px) {
    .content {
        width: 100%;
    }
    .title {
        font-size: 16px;
    }
    .text {
        font-size: 14px;
    }
}

@media screen and (max-width: 470px) {
    .content {  
        padding-right: 6px; 
        padding-left: 6px;
        margin-right: 0;
    }
}