@import "../../../common/colors.scss";

.pagination {
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    color: $font-secondary;
    margin: 40px 25px;
}

.pageCurrent {
    color: $secondary-color;
    font-weight: 600;
    text-decoration: underline;
    font-size: 18px;
    padding: 4px;
    margin-right: 2px;
}

.page {
    padding: 4px;
    margin-right: 2px;
}


@media screen and (max-width: 470px) {
    .pagination { 
        display: flex;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 14px;
    }
    .pageCurrent {
        font-size: 16px;
    }
    .page {
        margin-right: 1px;
    }
}