.inner {
    border: 1px solid rgba(26, 26, 26, 0.2);
    padding: 20px 14px;
}

.inner div {
    font-size: 12px; 
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
}    

.avatar {
    margin-top: 20px;
}

.inner p {
    line-height: 1.4;
    word-wrap: break-word;
    color: black;
    font-size: 14px;
}

.signature {
    text-align: center;
}

.sign {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.subscription{
    margin: 40px 0;
    background-color: #222;
    padding: 20px 14px;
}

.social {
    display: flex;
    justify-content: space-around;
}

.social img {
    width: 20px;
    margin-top: 10px;
}

.social .social img:not(:first-child){
    margin-left: 10px;
}

 


@media screen and (max-width: 991px) {
    .info {
        max-width: 400px;
    }
    .inner p {
        font-size: 12px;
    }
    .inner .avatar {
        width: 90%;
    }
    .inner .signature .sign{
        width: 90%;
    }
    .social img {
        width: 30px;
    }
}
